<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script>
        window.env = window.env || {};
        window.env.isDev = window.location.host === '127.0.0.1:8080';
        window.env.BACK_END_NODE = window.env.isDev ? 'http://127.0.0.1:8093/back-end-review' : '/back-end-review';
        window.env.GITLAB_PROTOCOL_HOST = window.env.isDev ? 'http://127.0.0.1' : '';
        window.env.COUCHDB_HOST = window.location.hostname;

        // https://code.jquery.com/jquery-3.2.1.min.js
        // https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9/jquery.timeago.js
        // https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9/locales/jquery.timeago.pt-br.js
        document.write(`<script src="vendor/jquery-3.2.1.min.js"><\/script>
                        <script src="vendor/jquery.timeago.js"><\/script>
                        <script src="vendor/jquery.timeago.pt-br.js"><\/script>
                        <script src="vendor/bootstrap-3.3.7/js/bootstrap.min.js"><\/script>
                        <link rel="stylesheet" href="vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
                        <link rel="stylesheet" href="vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>`);
    </script>

    <title>Sesol-2 Code Review</title>{% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
  </head>
  <body>
    <div id="app"></div>{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
  </body>
</html>
