@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Signika:400,300);

body {
  color: #444;
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  color: #2980b9;
}

h1,
h2,
h3,
h4 {
  font-family: 'Signika', sans-serif;
}

p {
  color: #999;  
}

input[type="text"], textarea {
  outline: none;
  box-shadow: none !important;
}

.page-header {
  margin-top: 0;
  border-color: #ddd;
  color: #aaa;
}

.btn {
  font-family: 'Signika', sans-serif;
}

.panel {
  border-width: 0;
}

.panel .panel-body > h2 {
  margin-top: 0;
}

.input-group-addon {
  color: #5e6d81;
  background-color: #fff;
  border-color: #eee;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 0;
  padding-right: 0;
}

.avatar {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

/* ------------------------------------------- */

.numerox {
  display: inline-block;
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 22px Arial, sans-serif;
}
.numero {
  padding-top: 7px;
  padding-right: 1px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;

  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;

  border-radius: 50%;
}
.numero:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.numero-vermelho {
  background-color: #ff2629;
}
.numero-vermelho:hover {
  background-color: #953b39;
}
.numero-amarelo {
  background-color: #f89406;
}
.numero-amarelo:hover {
  background-color: #c67605;
}
.numero-success {
  background-color: #468847;
}
.numero-success:hover {
  background-color: #356635;
}
.numero-info {
  background-color: #3a87ad;
}
.numero-info:hover {
  background-color: #2d6987;
}
.numero-inverse {
  background-color: #333333;
}
.numero-inverse:hover {
  background-color: #1a1a1a;
}